<ion-header>
  <ion-toolbar>
    <ion-title>landing & Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-img src="../../../assets/splash.png"></ion-img>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
    <ion-col>
        <ion-button (click)="login()" expand="block" color="primary">Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="register()" expand="block" color="tertiary">Register</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="camera()" expand="block" color="tertiary">camera</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>