<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-row>
            <ion-title>Menu</ion-title>
            <ion-col class="ion-align-self-start">
            </ion-col>
            <ion-col class="ion-align-self-end">
              <ion-button (click)="toggleDarkMode()" fill="clear">
                <ion-icon slot="start" name="sunny"></ion-icon>
                <ion-toggle id="themeToggle" slot="end"></ion-toggle>
                <ion-icon slot="end" name="moon"></ion-icon>
            </ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer class="ion-border">
        <ion-toolbar>
          <ion-row>
          <ion-col>
              <ion-button type="button" expand="block" (click)="logout()" color="danger">Logout
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-footer>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


