<ion-header>
  <ion-toolbar>
  <ion-row>
  <ion-col>
    <ion-title class="mtp">Edit Buku</ion-title>
  </ion-col>
  <ion-col>
    <ion-button class="jok"  fill="clear" (click)="kembali()">
    <ion-icon color="danger" size="large" name="close-circle"></ion-icon>
    </ion-button>
  </ion-col>  
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form *ngIf="dibbuk" #form="ngForm" method="POST" (ngSubmit)="saveubah(form, dibbuk.id)">
    <ion-item>
      <ion-label position="floating" color="primary"></ion-label>
      <ion-input type="text" name="id" [(ngModel)]="dibbuk.id" readonly  class="ion-margin" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary"></ion-label>
      <ion-input type="text" name="kode_b" [(ngModel)]="dibbuk.kode_b" readonly  class="ion-margin" ></ion-input>
    </ion-item>
    <!-- Input Email --> 
    <ion-item>
      <ion-label position="floating">Judul</ion-label>
      <ion-input type="text" name="judul" [(ngModel)]="dibbuk.judul" class="ion-margin"></ion-input>
    </ion-item>
    <!-- Input Pass -->
    <ion-item>
      <ion-label position="floating">Penerbit</ion-label>
      <ion-input type="text" name="penerbit" [(ngModel)]="dibbuk.penerbit" class="ion-margin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pengarang</ion-label>
      <ion-input type="text" name="pengarang" [(ngModel)]="dibbuk.pengarang" class="ion-margin"></ion-input>
    </ion-item>
    <!-- Input Email --> 
    <ion-item>
      <ion-label position="floating">Rak</ion-label>
      <ion-input type="text" name="rak" [(ngModel)]="dibbuk.rak" class="ion-margin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Jumlah</ion-label>
      <ion-input type="number" name="jml" [(ngModel)]="dibbuk.jml" readonly class="ion-margin"></ion-input>
    </ion-item>
    <!-- Input Email --> 
    <ion-item>
      <ion-label position="floating">Harga Satuan</ion-label>
      <ion-input type="number" name="price" [(ngModel)]="dibbuk.price" class="ion-margin"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Status Buku</ion-label>
      <ion-select [(ngModel)]="dibbuk.sts_buku" name="sts_buku">
          <ion-select-option value="ADA">Ada</ion-select-option>
          <!--<ion-select-option value="PINJAM" color="success">Pinjam</ion-select-option>-->
          <ion-select-option value="HILANG" color="danger">Hilang</ion-select-option>
          <ion-select-option value="RUSAK" color="warning">Rusak</ion-select-option>
          <ion-select-option value="MUSNAH" color="tertiary">Musnah</ion-select-option>
      </ion-select>
      
    </ion-item>
    <!--<ion-item>
      <ion-label position="floating">Harga Satuan</ion-label>
      <ion-input type="text" name="email" ngModel class="ion-margin"></ion-input>
    </ion-item>-->

    <ion-row>
      <ion-col>
          <ion-button type="submit" expand="block" color="tertiary">Simpan</ion-button>
        </ion-col>

      <ion-col>
        <ion-button expand="block" color="danger">Batal</ion-button>
      </ion-col>
    </ion-row>
  </form>    




</ion-content>